.navLOGO {
    width: 200px
}

.navTEXT {
    letter-spacing: 8px;
    word-spacing: 5px;
}

.menu_list {
    text-align: center;
    font-size: x-large;
    display: block;
}

.social_media {
    color: white;
    font-size: xx-large;
    display: flex
}

#instafeed-container {
    margin: 1%;
}

@media (min-width: 600px) {
    #instafeed-container img {
        width: 25%;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 15%;
        border-width: 5%;
    } 
}

@media (max-width: 599px) {
    #instafeed-container img {
        width: 50%;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 15%;
        border-width: 5%;
    } 
}


