.navLOGO {
    width: 200px
}

.navTEXT {
    letter-spacing: 8px;
    word-spacing: 5px;
}

.menu_list {
    text-align: center;
    font-size: x-large;
    display: block;
}

.social_media {
    color: white;
    font-size: xx-large;
    display: flex
}